<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<%= link_to "Book - Anna Karenina", '#' %>
<ul>
  <li>Page - 3</li>
  <li>Complete - 34%</li>
  <li>Last Red - 19.10.2013 04:01</li>
</ul>
