/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require awibox-UI
 *= require_self
*/

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

body {
    background: #b2e7ff url(../design/images/bg.png);
}
ul {
    padding-left: 30px;
}
.nav {
    list-style: none;
}
header.section,
footer.section {
    padding: 10px 20px;
}
.authorization {
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}
.section {
    background: rgba(255,255,255,0.8);
}
.authorization {
    text-align: right;
}
.authorization .btn{
    margin: 0 5px;
}
.item-title {

}
.item .section {
    padding: 10px 20px;
}
.item-title span[class^="icon-"],
.item-title span[class*=" icon-"]{
    font-size: 64px;
    display: inline-block;
    vertical-align: top;
}
.item-title-text {
    font-size: 36px;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.item-text {
    font-size: 16px;
    padding:10px 13px;
    min-height: 40px;
}
.djvu {
    color: #7551a9;
}
.pdf {
    color: #d12308;
}
.section.try {
    text-align: center;
    padding: 15px 20px;

}
.try .btn {
    margin: 0 10px;
}
.text-right {
    text-align: right;
}
.clear {
    clear: both;
}
footer.section .row [class*="column"]{
    min-height: 10px;
    height: 20px;
}
footer.section .row .column5 {
    text-align: right;
}
@font-face {
    font-family: 'fontello';
    src: url('/design/font/fontello.eot?81528031');
    src: url('/design/font/fontello.eot?81528031#iefix') format('embedded-opentype'),
    url('/design/font/fontello.woff?81528031') format('woff'),
    url('/design/font/fontello.ttf?81528031') format('truetype'),
    url('/design/font/fontello.svg?81528031#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74587836#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}



.icon-upload-cloud:before { content: '\e800'; } /* '' */
.icon-appstore:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-desktop:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e802'; } /* '' */
.icon-tablet:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-book-open:before { content: '\e808'; } /* '' */
.icon-book-1:before { content: '\e805'; } /* '' */
.icon-archive:before { content: '\e80b'; } /* '' */
.icon-book-alt:before { content: '\e809'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */

.logo:after {
    content: "";
    display: block;
    clear: both;
}
.logo a {
    float: left;
    color: #000;
    text-decoration: none;

}
.logo .name {
    font-size: 42px;
    line-height: 43px;
}
.logo .slogan {
    font-size: 16px;
    display: block;
    margin-left: 3px;
}
.logo .icon-book {
    font-size: 64px;
    height: 64px;
    width: auto;
    float: left;
    margin-left: -12px;
}
.book .limit {
    height: 40px;
    line-height: 42px;
    font-size: 24px;
}
.book .limit .genericon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}
.book .btn{
    margin: 0;
}
.book .icon-archive {
    font-size: 40px;
    display: inline-block;
    vertical-align: top;
}
.book-item {
    min-height: 300px;
}
.book-item .img {
    padding: 0px 5px;
    height: 230px;
    display: block;
    text-align: center;
}
.book-item .img img {
    height: 100%;
    max-width:160px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.book-item .title {
    font-size: 18px;
    padding-bottom: 20px;
}
.book-item-list .li {
    padding: 3px 0;
}
.progress {
    height: 13px;
    position: relative;
    margin: 2px 0;
    margin-right: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.progress .unload {
    -webkit-box-shadow: 0 1px 2px #e6e6e6 inset;
    -moz-box-shadow: 0 1px 2px #e6e6e6 inset;
    box-shadow: 0 1px 2px #e6e6e6 inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #CECECE #E3E3E3 #F7F7F7;
    height: 11px;
}
.progress .load {
    background: #7fba00 0 0 repeat-x;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
}
.progress .load-pct {
    height: 13px;
    width: 100%;
    line-height: 13px;
    text-align: center;
    font: 9px Verdana;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}