<%= link_to "Dpreader", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Try as Guest! (Goto books)', books_path %>
    </li>
  <% end %>
</ul>
